<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardauth.application.board.BoardMapper">
    <insert id="save">
        INSERT INTO board
            SET title = #{title},
                contents = #{contents},
                user_id = #{userId}
    </insert>
    <select id="findAll">
        SELECT b.id, b.title, b.created_at, u.nm
        FROM board b
        JOIN user u
        ON b.user_id = u.id
        <!-- #을쓰면 문자열에 홑따옴표('')가 자동으로 들어가서 ' '내용' ' 이런식으로됨
        그래서 $를 써주지만 $를 사용하면 인젝션공격을 받을 수도 있음
        실질적으로 $는 안써주는게 좋음-->
        <if test="searchText != null and searchText != '' ">
            WHERE b.title LIKE '%${searchText}%'
            OR b.contents LIKE '%${searchText}%'
        </if>
        ORDER BY b.id DESC
        LIMIT #{startIdx}, #{size};
    </select>
    <select id="findMaxPage">
        SELECT  CEIL( COUNT(1) / #{size} ) FROM board
        <if test="searchText != null and searchText != '' ">
            WHERE title LIKE '%${searchText}%'
            OR contents LIKE '%${searchText}%';
        </if>
    </select>
    <select id="boardDetail">
        SELECT b.id, b.title, b.contents, b.created_at, u.nm, b.user_id
        FROM board b
        JOIN user u
        ON u.id = b.user_id
        WHERE b.id = #{id}
    </select>
</mapper>